language = "python3"
run = "python app.py"
modules = ["python-3.11"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43001563
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[nix]
channel = "stable-24_05"
